Flask-CORS
python-dotenv
Flask
Flask-SQLAlchemy
Flask-JWT-Extended
celery
redis
requests
transformers
psycopg2-binary
arxiv
torch
sentence-transformers
scikit-learn
gensim
nltk
Flask-CORS
python-dotenv
Flask
Flask-SQLAlchemy
Flask-JWT-Extended
celery
redis
requests
transformers
psycopg2-binary
arxiv
torch
sentence-transformers
scikit-learn
nltk
rank_bm25